class Tomi:
    def __init__(self,su_ira):
        self.ira=su_ira
    def pegar (self,fuerza):
        self.ira+=fuerza
    def dar_el_presente (self):
        self.ira+=20
    def prime(self):
        return self.ira>=90
    def matar (self):
        return (self.ira*10)/100
gg=Tomi (50)
print (gg.pegar(20))
print (gg.dar_el_presente())
print (gg.prime())
print (gg.ira)
print (gg.matar())