<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='css/favicon.png') }}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/clientes.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;800&display=swap" rel="stylesheet">
    <title>Kwik - Clientes</title>
</head>
<body>
    <div class="forma1">
        <h1 class="title">Nuestros clientes</h1>
    </div> 
    <div class="info">
        <div class="contenedor-botones">
        {% for id, promocion in promociones %}
                <a href="{{ url_for('get_cliente', id=id) }}"><button>{{ id }}</button></a>
        {% endfor %}  
            <div class="contenedor-listas">
                <div class="lista1">
                    <ul>
                        <li> Nuestros clientes Gold son...</li>
                        <li> En particular</li>
                        <li> blabla</li>
                    </ul>
                </div>
                <div class="lista2"> 
                    <ul>
                        <li> Nuestros clientes Silver son...</li>
                        <li> En particular</li>
                        <li> blabla</li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>